
.text-field {
   --_background:hsl(var(--neutral-100));
   --_border-radius: var(--br-4);
   --_color: var(--neutral-700);
   --_padding: .25rem 1rem;
   --_border-focus: hsl(var(--primary-400));
   --_border-error: red;
}


.text-field {
    border: 1px solid transparent;
    background: var(--_background);
    border-radius: var(--_border-radius);
    overflow: hidden;
    color: var(--_color);
    display: inline-flex;
    align-items: stretch;
}

.text-field:has(.input:is(:focus-visible)) {
    outline: .09em solid var(--_border-focus);
}

.text-field:has(.input[aria-invalid="true"]) {
    border-color: var(--_border-error);
    --_border-focus: var(--_border-error);
}


.input {
    color: currentColor;
    outline: none;
    background: none;
    border: none;
    padding: var(--_padding);
    width: 100%;
    text-align: right;
}

input::placeholder {
    color: hsl(var(--neutral-400));
}

.icon {
    padding: var(--_padding);
    padding-right: 0rem;
    display: grid;
    color: hsl(var(--neutral-400));
    align-items: center;
}

.icon> *{
    height: 1em;
    width: 100%;
}




